<!doctype html>
<html>
<head>
  <title>我的红心</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.css" media="screen">
  <link rel="stylesheet" type="text/css" href="/css/fm.css" media="screen">
  <link href="/css/bootstrap-responsive.css" rel="stylesheet">
  <script src="/js/jquery.min.js"></script>
  <script src="/js/bootstrap.js"></script>
  <script src="/js/mediaelement-and-player.min.js"></script>
  <link rel="stylesheet" href="/css/mediaelementplayer.min.css" />
</head>
<body>
  <div id="container">
    <div id="content">
      <div id="cwrap">
        <div id="nowPlay" class="is-audio">
          <h3 id="npAction">Paused:</h3>
          <div id="npTitle"></div>
          <div>
            <img id="picture" src="" alt="">
          </div>
        </div>
        <div id="audiowrap">
          <div id="audio0">
            <audio id="audio1" controls="controls" type="audio/mp3" src="http://phaibin.qiniudn.com/542959.mp3" >
              Your browser does not support the HTML5 Audio Tag.
            </audio>
          </div>
          <noscript>Your browser does not support JavaScript or JavaScript has been disabled. You will need to enable JavaScript for this page.</noscript>
          <div id="extraControls" class="is-audio">
            <button id="btnPrev" class="ctrlbtn">|&lt;&lt; Prev Track</button> <button id="btnNext" class="ctrlbtn">Next Track &gt;&gt;|</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
  jQuery(function($) {
    var npAction = $('#npAction');
    var npTitle = $('#npTitle');
    var picture = $('#picture');
    var player = new MediaElementPlayer('#audio1', {
      success: function (mediaElement, domObject) {   
       // add event listeners
       mediaElement.addEventListener('ended', function(e) {
         npAction.text('Paused:');
         loadTrack();
       }, false);

       mediaElement.addEventListener('pause', function(e) {
        npAction.text('Paused:');
      }, false);

       mediaElement.addEventListener('play', function(e) {
        npAction.text('Now Playing:');
      }, false);

       mediaElement.addEventListener('error', function(e) {
        $.post('/upload', {'sid':$('#nowPlay').attr('sid')});
        setTimeout(function() {
          loadTrack();
        }, 2000);
      }, false);
     }
   });

    btnPrev = $('#btnPrev').click(function() {
     player.pause();
     loadTrack('/prev');
   });

    btnNext = $('#btnNext').click(function() {
      player.pause();
      loadTrack();
    });

    loadTrack = function(url) {
      url = typeof url !== 'undefined' ? url : '/next';
      $.get(url, function(data, textStatus) {
        player.setSrc(data.url);
        $('#nowPlay').attr('sid', data.sid);
        npTitle.text(data.title + ' - ' + data.artist);
        picture.attr('src', data.picture);
        player.play();
      }, "json");
    };

    // wait 800ms to fix firefox error
    setTimeout(function() {
      loadTrack("/heart");
    }, 800);
  });
</script>
</body>
</html>