<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <META http-equiv="refresh" content="0;URL=http://mr3.douban.com/201308291732/cd343c603995224491f445664419e9c5/view/song/small/p994279.mp3">
  <title>HTML5 MediaElement</title> 
  <script src="/js/jquery.js"></script>  
  <script src="/js/jquery.noreferrer.js"></script>  
</head>
<body>

<h1>MediaElementPlayer.js</h1>

<p>Audio player</p>

<h2>MP3</h2>


<a id="douban" href="http://mr3.douban.com/201308291732/cd343c603995224491f445664419e9c5/view/song/small/p994279.mp3" rel='noreferrer'>douban</a>

<script>
  $(function() {
    // $("#douban")[0].click();
  });
</script>
</body>
</html>

