<!doctype html>
<html>
<head>
  <title>我的红心</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.css" media="screen">
  <style type="text/css">
  body {
    padding-top: 60px;
    padding-bottom: 40px;
  }
  </style>
  <link href="/css/bootstrap-responsive.css" rel="stylesheet">
</head>
<body>
  <div class="container">
    <table>
      <% for song in songs %>
      <tr>
        <td><img src="<%= song.picture %>" alt=""></td>
        <td><%= song.title %></td>
        <td><%= song.artist + ' <' + song.album + '>' %></td>
        <td><audio controls="controls" src="<%= song.url %>">您的浏览器不支持audio元素</audio></td>
      </tr>
      <% end %>
    </table>
  </div>
  <script src="/js/jquery.js"></script>
  <script src="/js/bootstrap.js"></script>
</body>
</html>