<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Untitled</title>
  <link rel="stylesheet" href="css/style.css">
  <link rel="author" href="humans.txt">
</head>
<body>
  <form action="/login" method="post">
    <input type="text" name="name">name</input>
    <input type="text" name="password">password</input>
    <input type="submit" value="Submit" />
  </form>
  <script src="js/main.js"></script>
</body>
</html>